<div style="width: 50px; height: 50px; border: 1px solid black;">
  <div class="sudoku-tile-main-number">{{tileInfo}}</div>
  <div class="sudoku-tile-clear"></div>
  <div class="sudoku-tile-matches">1</div>
  <div class="sudoku-tile-matches">2</div>
  <div class="sudoku-tile-matches">3</div>
  <div class="sudoku-tile-matches">4</div>
  <div class="sudoku-tile-matches">5</div>
  <div class="sudoku-tile-matches">6</div>
  <div class="sudoku-tile-matches">7</div>
  <div class="sudoku-tile-matches">8</div>
  <div class="sudoku-tile-matches">9</div>
</div>
